<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <img src="./assets/Cute-Landscape-Wallpaper-Free-Download.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Acerca de</h5>
      <p class="card-text">En lugar de buscar y contratar a muchos proveedores, perdiendo, tiempo y dinero sin secuencia de sus estrategias, ni resultados en marketing y publicidad. Puede contratarnos y permitirnos ayudarle con sus implementaciones.  ¡Eso sí bien pensadas y trabajadas! </p>
      <a [routerLink]="['persona']"  class="btn btn-primary ">Revisa mi PERFIL</a>
    </div>
  </div>