<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <div *ngIf="hola">
      <img [src]="imagen" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">Programador jr</h5>
      <div class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let item of lista">{{item}}</li>
           
          </ul>
      </div>
      <button class="btn btn-primary" (click)="boton()">Mostrar/Ocultar</button>
    </div>
  </div>